---
import PageLayout from "@/layout/PageLayout.astro";
import MainLayout from "@/layout/MainLayout.astro";
import { fetchArticles } from "@/lib/getData";
import Post from "@/components/Post.astro";
import type { Post as PostType } from "~/types";

const articles = await fetchArticles({ PER_PAGE: 10 });
---

<PageLayout title="Blog">
  <MainLayout>
    <div class="flex flex-col gap-8 mb-4">
      <h1 class="text-5xl">Blog</h1>
      <p class="text-3xl">
        These posts contain valuable information in form of code pills or
        interesting tutorials.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-3">
      {
        articles && articles.length > 0 ? (
          articles.map((post: PostType) => <Post {post} />)
        ) : (
          <h2>There are no post availible</h2>
        )
      }
    </div>
  </MainLayout>
</PageLayout>
