---
import HeroSection from "@/components/HeroSection.astro";
import MainLayout from "@/layout/MainLayout.astro";
import PageLayout from "@/layout/PageLayout.astro";
---

<PageLayout title="Abot me">
  <MainLayout>
    <HeroSection />
    <div class="flex flex-col w-full text-xl">
      <p>
        I love to learn about the current status of the Tech community, and im
        interested in the latest techologies.
      </p>
      <p>
        Currently I build in public while learning them and I share those
        projects with the world.
      </p>
    </div>
  </MainLayout>
</PageLayout>
