---
const currentYear = new Date().getFullYear()
---

<div
  class='flex flex-col gap-3 justify-center items-start w-full p-6 bg-[#161616]'
>
  <p class='uppercase font-extrabold text-xs'>
    <span class='text-gray-400'>{currentYear}</span>
    <span class='text-gray-600'>|</span> David Huertas
  </p>
</div>
