---
import GithubIcon from './icons/GithubIcon.astro'
import LinkedinIcon from './icons/LinkedinIcon.astro'
import TwitterIcon from './icons/TwitterIcon.astro'
import YoutubeIcon from './icons/YoutubeIcon.astro'
---

<div
  class='flex flex-col sm:flex-row gap-3 sm:gap-8 w-full justify-between items-center p-5 max-w-[1100px] m-auto'
>
  <img
    class='main-image w-72 h-96 object-cover'
    src='/avatar.jpg'
    alt='Una foto de un chico con gafas y pelo ondulado'
  />
  <div class='flex flex-col gap-3 h-full justify-around p-3'>
    <h1 class='text-5xl md:text-8xl font-black uppercase'>Hi, I'm David!</h1>
    <h2 class='text-3xl md:text-4xl uppercase font-black'>
      Developer & Content creator.
    </h2>
    <h2 class='md:text-xl font-normal max-w-[40ch] text-gray-400'>
      Dev of many things, <span
        class='hover:text-orange-500 transition-colors duration-200 ease-in-out'
        >Rust</span
      > entusiast. I'm passionate about the tech world and I love to share my
      knowledge with others. <br /> I'm currently working as a Frontend
      Developer.
    </h2>
    <div class='flex gap-2'>
      <GithubIcon to='https://github.com/ikurotime' />
      <LinkedinIcon
        id='linkedin-icon'
        to='https://linkedin.com/in/david-huertas-ortiz'
      />
      <YoutubeIcon id='youtube-icon' to='https://youtube.com/@ikurotime' />
      <TwitterIcon id='twitter-icon' to='https://twitter.com/ikurotime' />
    </div>
  </div>
</div>
