<div
  class="flex flex-col sm:flex-row gap-3 sm:gap-8 w-full justify-between items-center p-5"
>
  <img
    class="rounded-full max-w-[100px] md:max-w-[223px]"
    src="../../public/avatar.jpg"
    alt="Una foto de un chico con gafas y pelo ondulado"
  />
  <div class="flex flex-col gap-3">
    <h1 class="md:text-5xl">Hi! I'm David Huertas</h1>
    <h2 class="md:text-3xl">- Web Developer</h2>
    <h2 class="md:text-xl">
      Appasionated by the tech world. I've built some projects. Check them out!
    </h2>
  </div>
</div>
