---
import { languages } from '../i18n/ui'
import { getLangFromUrl } from '../i18n/utils'
const language = getLangFromUrl(Astro.url)
---

<ul class='flex gap-4'>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a
          href={`/${lang}/`}
          class={
            lang === language
              ? 'border-b border-b-neutral-950 '
              : 'text-neutral-600 hover:text-neutral-300'
          }
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
