<nav
  class="flex h-16 justify-between uppercase font-black max-w-[1100px] m-5 py-5"
>
  <a href="/" class="hover:text-orange-400 transition-colors duration-200"
    >David Huertas</a
  >
  <div class="hidden sm:flex h-full gap-10">
    <a href="/" class="hover:text-green-400 transition-colors duration-200"
      >Home</a
    >
    <!--     <a href="/blog">Blog</a> -->
    <a
      href="/projects"
      class="hover:text-blue-400 transition-colors duration-200">Projects</a
    >
    <!--     <a href='/about'>About me</a> -->
  </div>
</nav>
