<div class='flex w-full text-black'>
  <nav class='flex h-16 justify-end max-w-7xl m-auto py-5 w-full'>
    <div class='hidden sm:flex h-full gap-8 text-2xl'>
      <!-- <a href='#PorqueYo' class='transition-colors duration-200'>¿Por qué yo?</a
      > -->
      <!-- <a href='#Trabajo'>Mi trabajo</a> -->
      <a href='/#proceso' class='transition-colors duration-200'>Proceso</a>
      <a href='/#FAQs'>FAQs</a>
      <a href='/contacto'>Contacto</a>
    </div>
  </nav>
</div>
