---
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
---

<nav class="flex w-full h-16 justify-between">
  <div class="hidden md:flex h-full gap-10">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/about">About me</a>
  </div>
  <div class="w-auto gap-3 h-full flex justify-evenly items-center">
    <a
      href="https://github.com/ikurotime"
      target="_blank"
      class="p-1 rounded-md hover:bg-black"
    >
      <GithubIcon />
    </a>
    <a
      href="https://linkedin.com/in/david-huertas-ortiz"
      target="_blank"
      class="p-1 rounded-md hover:bg-black"
    >
      <LinkedinIcon />
    </a>
  </div>
</nav>
