---
import OpenIcon from "../components/icons/OpenIcon.astro";
const { title, description, image } = Astro.props;
---

<div
  class="flex p-5 w-full max-w-[578px] group min-h-[160px] hover:bg-white hover:bg-opacity-5 project-shadow rounded-md"
>
  <img
    class="w-[118px] h-[80px] border flex-shrink-0 object-cover"
    src={image}
    alt="Imagen de proyecto web"
  />
  <div class="flex flex-col gap-3 pl-5">
    <div class="flex gap-3"><h2>{title}</h2><OpenIcon /></div>
    <p class="text-sm">
      {description}
    </p>
  </div>
</div>
