---
import type { Post as PostType } from "../../types";
import { fetchArticles } from "../lib/getData";
import Post from "./Post.astro";

const { row, postsQuantity = 3 } = Astro.props;
const articles = await fetchArticles({ PER_PAGE: postsQuantity });
---

<div>
  <h1 class="my-2">Last posts</h1>
  <div class={"flex gap-5 text-white " + (row ? "flex-row" : "flex-col")}>
    {
      articles && articles.length > 0 ? (
        articles.map((post: PostType) => <Post {post} />)
      ) : (
        <div>There's no post at the moment.</div>
      )
    }
  </div>
</div>
