---
import type { Project as ProjectType } from '../../types'
import { fetchProjects } from '../lib/getData'
import Project from './Project.astro'

const projects = await fetchProjects({})
---

<div>
  <h1 class='my-2'>Recent Projects</h1>
  <div class='flex flex-col sm:flex-row gap-5 text-white'>
    {
      projects.length > 0 &&
        projects.map((post: ProjectType) => <Project {post} />)
    }
  </div>
</div>
