<div
  id='proceso'
  class='text-black flex-1 bg-[#1c1c1c] m-auto w-full flex h-auto pt-16 pb-36'
>
  <div class='flex flex-col m-auto text-start w-full'>
    <div
      class='flex flex-col lg:flex-row w-full max-w-7xl m-auto justify-between'
    >
      <div class='sticky top-20 h-fit p-5'>
        <span class='font-bold text-2xl text-[rgb(235,94,40)]'>Proceso</span>
        <h3 class='font-bold text-white text-3xl lg:text-6xl'>
          Estas a 5 pasos de<br /> una web nueva...
        </h3>
        <a
          href='/contacto'
          class='block lg:w-80 h-10 lg:h-20 bg-[rgb(235,94,40)] rounded-lg text-white text-center leading-[40px] lg:leading-[80px] text-xl lg:text-2xl mt-9'
        >
          Trabaja conmigo
        </a>
      </div>
      <div class='flex flex-col gap-24 w-11/12 lg:w-1/2 m-auto'>
        <div
          class='bg-[#403D39] h-64 w-full rounded-md flex flex-col p-8 sticky top-80 lg:top-20 z-0 -rotate-2'
        >
          <span class='text-4xl text-[#EB5E28] font-bold'>01</span>
          <h6 class='font-bold text-4xl text-white'>Descubrimiento</h6>
          <p class='text-xl lg:text-2xl text-white'>
            Para comenzar, vamos a tener una sesión de descubrimiento. En esta
            fase, vamos a intentar entender tu negocio,tus necesidades y qué
            estas intentando conseguir.
          </p>
        </div>
        <div
          class='bg-[#403D39] h-64 w-full rounded-md flex flex-col p-8 sticky top-80 lg:top-20 z-10'
        >
          <span class='text-4xl text-[#EB5E28] font-bold'>02</span>
          <h6 class='font-bold text-4xl text-white'>Wireframing</h6>
          <p class='text-xl lg:text-2xl text-white'>
            Crearé la estructura de la web en bocetos para establecer el flujo
            de la web y presentar tu producto o servicio de forma que cumpla tus
            objetivos.
          </p>
        </div>
        <div
          class='bg-[#403D39] h-64 w-full rounded-md flex flex-col p-8 sticky top-80 lg:top-20 z-20 rotate-2'
        >
          <span class='text-4xl text-[#EB5E28] font-bold'>03</span>
          <h6 class='font-bold text-4xl text-white'>
            Diseño de alta fidelidad
          </h6>
          <p class='text-xl lg:text-2xl text-white'>
            Después, convertiré los bocetos en diseños pulidos. En este punto
            podrás ver cómo se verá la página cuando esté terminada.
          </p>
        </div>
        <div
          class='bg-[#403D39] h-64 w-full rounded-md flex flex-col p-8 sticky top-80 lg:top-20 z-30 -rotate-1'
        >
          <span class='text-4xl text-[#EB5E28] font-bold'>04</span>
          <h6 class='font-bold text-4xl text-white'>Desarrollo</h6>
          <p class='text-xl lg:text-2xl text-white'>
            Una vez des el visto bueno del diseño, comenzaré el desarrollo de la
            web, usando las herramientas que más te beneficien.
          </p>
        </div>
        <div
          class='bg-[#403D39] h-64 w-full rounded-md flex flex-col p-8 sticky top-80 lg:top-20 z-30 -rotate-2'
        >
          <span class='text-4xl text-[#EB5E28] font-bold'>05</span>
          <h6 class='font-bold text-4xl text-white'>
            Despliegue y entrenamiento
          </h6>
          <p class='text-xl lg:text-2xl text-white'>
            Finalmente, publicaré tu web o y te enseñare lo necesario para
            encargarte de la misma y gestionarla si lo necesitas. ¡No dependerás
            de mi!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
