<div class='text-black flex-1 max-w-7xl m-auto w-full flex min-h-[90vh]'>
  <div class='flex flex-col m-auto'>
    <h1 class='font-bold text-4xl lg:text-8xl text-[#EB5E28]'>
      Hola, soy David Huertas
    </h1>
    <h2 class='font-bold text-4xl lg:text-8xl'>Desarrollador web</h2>
    <p class='text-2xl lg:text-4xl font-medium'>
      Te ayudaré a construir tu sitio ideal.
    </p>
    <div class='flex flex-col lg:flex-row gap-8 mt-10'>
      <a
        href='/contacto'
        class='flex justify-center gap-2 lg:gap-8 w-full h-10 lg:w-80 lg:h-20 bg-[#252422] rounded-lg text-white text-center leading-[40px] lg:leading-[80px] lg:text-2xl'
      >
        Trabaja conmigo <img src='/ArrowRight.svg' class='max-w-[24px]' />
      </a>

      <a
        href='#proceso'
        class='flex justify-center gap-2 lg:gap-8 w-full h-10 lg:w-80 lg:h-20 border-2 border-[#252422] rounded-lg text-black text-center leading-[40px] lg:leading-[80px] lg:text-2xl'
      >
        Aprender más <img src='/ArrowDown.svg' class='max-w-[24px]' />
      </a>
    </div>
  </div>
</div>
