<div
  class='text-black flex-1 bg-[#1c1c1c] m-auto border w-full flex min-h-screen py-28'
>
  <div class='flex flex-col align-top text-center w-full'>
    <span class='font-bold text-2xl text-[rgb(235,94,40)]'>¿Por qué yo?</span>
    <h3 class='font-bold text-white text-6xl'>Resultados profesionales</h3>
    <div class='flex flex-col w-full max-w-7xl m-auto'>
      <div class='text-start text-white w-full'>
        <div class='max-w-[412px]'>
          <h6 class='text-[#EB5E28] font-semibold text-2xl'>
            Diseños personalizados
          </h6>
          <span class='font-bold text-4xl'>Una web propia</span>
          <p class='text-2xl'>
            Trae tu diseño o diseñemos juntos una web que sientas unica.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
