<div class='text-black flex-1 m-auto border w-full flex h-auto py-14'>
  <div class='flex flex-col m-auto text-center w-full'>
    <span class='font-bold text-2xl text-[#EB5E28]'>Mi trabajo</span>
    <h3 class='font-bold text-black text-[64px]'>
      Esto es lo que puedo <br /> hacer por ti
    </h3>
    <div
      class='flex flex-col w-full max-w-7xl m-auto gap-24 justify-center items-center'
    >
      <div class='bg-white rounded-lg w-10/12 h-[581px] shadow-md flex'>
        <div class='w-1/2 h-full flex p-12 text-start'>
          <div class='flex flex-col m-auto'>
            <span class='font-bold text-3xl text-[#EB5E28]'
              >Diseño y desarrollo</span
            >
            <span class='font-bold text-5xl'>Project Title</span>
            <p class='text-2xl'>
              Lorem ipsum dolor dare iptum dolor lorem apsum aret mid lorem
              dolor.
            </p>
            <a
              href=''
              class='block text-white bg-[#252422] w-[275px] h-[82px] rounded-md text-2xl font-semibold leading-[82px] text-center mt-12'
              >Ver proyecto</a
            >
          </div>
        </div>
        <div class='w-1/2 h-full bg-[#5844EB] rounded-r-md'></div>
      </div>
      <div class='bg-[#1e1e1e] rounded-md w-full h-80 flex shadow-md'>
        <div class='flex m-auto gap-8'>
          <div class='p-5 text-start'>
            <h3 class='font-bold text-white text-6xl'>Pruebalo, gratis</h3>
            <p class='text-white text-2xl'>
              Si no te convence el primer boceto de diseño, te haré una
              devolución del deposito.<br />
              <strong>Sin preguntas.</strong>
            </p>
          </div>
          <a
            href='/contacto'
            class='block text-black bg-white w-[275px] h-[82px] rounded-md text-2xl font-semibold leading-[82px] text-center mt-12'
            >Trabaja conmigo</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
