---
const { title, description, tags } = Astro.props
---

<div class='flex py-4 px-4 flex-col gap-2 border rounded-md'>
  <span class='text-zinc-500 text-lg'><strong>{title}</strong></span>
  <span>{description}</span>
  {
    tags ? (
      <div class='flex w-full gap-2'>
        {tags.map((tag: string) => (
          <span class='text-sm px-2 py-1 border rounded-md bg-slate-200'>
            {tag}
          </span>
        ))}
      </div>
    ) : null
  }
</div>
