---
const { title, description, tags } = Astro.props
---

<div
  class='flex py-4 px-4 flex-col gap-2 rounded-md bg-[#171717] border border-[#222220] hover:bg-[#222220] transition-all ease-in-out duration-300'
>
  <span class='text-[#EEEEEC] text-md'>{title}</span>
  <span class='text-[#D1D5DB] text-sm'>{description}</span>
</div>
