---
//footer minimalistic
---

<footer
  class='flex justify-between items-center w-full border-t border-[#222220] py-4 px-6 text-sm text-gray-400'
>
  <div class='flex justify-between items-center w-full max-w-4xl mx-auto'>
    <div class='flex items-center space-x-4'>
      <p>davidhuertas.dev</p>
    </div>

    <div class='flex items-center space-x-6'>building things with ❤️</div>
  </div>
</footer>
