---
import LanguagePicker from '../components/LanguagePicker.astro'
---

<div class='flex justify-between'>
  <a href='/'>
    <h1><strong>David Huertas</strong></h1>
    <span class='font-bold text-zinc-500'>Software Engineer</span>
  </a>

  <div class='flex gap-4'>
    <a
      href='https://youtube.com/@ikurotime'
      class='group'
      rel='noreferrer'
      target='_blank'
      ><span
        class='group-hover:border-b-2 group-hover:border-red-500 duration-100'
        >Youtube</span
      ></a
    >
    <a
      href='https://twitch.tv/ikurotime'
      class='group'
      rel='noreferrer'
      target='_blank'
      ><span
        class='group-hover:border-b-2 group-hover:border-purple-500 duration-100'
        >Twitch</span
      ></a
    >
    <a
      href='https://twitter.com/ikurotime'
      class='group'
      rel='noreferrer'
      target='_blank'
      ><span
        class='group-hover:border-b-2 group-hover:border-blue-500 duration-100'
        >Twitter</span
      ></a
    >
    <a
      href='https://github.com/ikurotime'
      class='group'
      rel='noreferrer'
      target='_blank'
      ><span
        class='group-hover:border-b-2 group-hover:border-zinc-800 duration-100'
        >Github</span
      ></a
    >
    <LanguagePicker />
  </div>
</div>
