---
import LanguagePicker from '../components/LanguagePicker.astro'
---

<div class='flex justify-between'>
  <a href='/'>
    <h1><strong>David Huertas</strong></h1>
    <span class='font-bold text-zinc-500'>Software Engineer</span>
  </a>
  <div class='flex gap-4'>
    <a href='https://github.com/ikurotime' rel='noreferrer' target='_blank'
      >Github</a
    >
    <a href='https://twitter.com/ikurotime' rel='noreferrer' target='_blank'
      >Twitter</a
    >
    <LanguagePicker />
  </div>
</div>
