<div
  class='prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-p:text-zinc-800 prose-h2:text-zinc-800 text-zinc-800
  prose-em:text-zinc-500 prose-strong:text-zinc-800
  prose-code:text-orange-500'
>
  <slot />
</div>
