<div
  class='flex text-sm flex-col prose dark:prose-invert
  prose-h1:font-bold
  prose-h2:my-4 prose-h2:mt-6
  prose-p:text-lg prose-p:mt-0
  prose-p:max-w-none
  prose-a:text-blue-600 prose-img:rounded-xl
  prose-p:text-[#e3e2e0] prose-h2:text-[#e3e2e0] text-[#e3e2e0]
  prose-em:text-[#e3e2e0] prose-strong:text-[#e3e2e0] prose-h3:text-[#e3e2e0]
  prose-code:text-orange-500'
>
  <slot />
</div>
