<div
  class='flex flex-col prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-h2:my-4 prose-h2:mt-6
  prose-p:text-lg prose-p:mt-0
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-p:text-[#e3e2e0] prose-h2:text-[#e3e2e0] text-[#e3e2e0]
  prose-em:text-[#e3e2e0] prose-strong:text-[#e3e2e0] prose-h3:text-[#e3e2e0]
  prose-code:text-orange-500 prose-pre:max-w-xs sm:prose-pre:max-w-sm md:prose-pre:max-w-full prose-pre:m-auto prose-pre:w-full'
>
  <slot />
</div>
