---
import Posts from '../components/Posts.astro'
import Projects from '../components/Projects.astro'
---

<div
  class='flex flex-col sm:flex-col gap-3 sm:gap-12 max-w-[1110px] m-auto py-8'
>
  <Projects />
  <!--   <Posts /> -->
</div>
