---
import Posts from '../components/Posts.astro'
import Projects from '../components/Projects.astro'
---

<div class='flex flex-col sm:flex-row gap-3 sm:gap-12 m-auto'>
  <Projects />
  <Posts />
</div>
