---
import NewProjects from '@/components/NewProjects.astro'
const projects = [
  {
    title: 'GeoWeather',
    description:
      "A weather app that displays the current weather in a given location. It can be used to display the weather in a given location. Winner of Midudev's June Hackathon",
    image: 'https://2022.davidhuertas.dev/assets/GeoWeather.d9c74363.jpg',
    github: 'https://github.com/ikurotime/GeoWeather'
  },
  {
    title: 'TechTalks',
    description:
      "A discord-like app that can create and share chat servers with pre-setted channels. Built for Midudev's July Hackathon.",
    image: 'https://2022.davidhuertas.dev/assets/TechTalks.57b64a72.jpg',
    github: 'https://github.com/ikurotime/Svelte-Twilio-chat'
  },
  {
    title: 'RecetasYa!',
    description:
      'Food Recipes app built on live with a modern technology stack. Authentication,CRUD and ORM.',
    image:
      'https://i.postimg.cc/brtSMzWf/Screenshot-2023-07-06-at-13-38-39.png',
    github: 'https://2022.davidhuertas.dev/assets/TechTalks.57b64a72.jpg'
  }
]
---

<div class='flex flex-col gap-3 w-full max-w-[1110px] m-auto py-8 flex-shrink'>
  <p class='px-10'>Check out some of these projects I made</p>
  <div class='grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-5 m-5'>
    {
      projects.map((n) => (
        <a href={n.github} target='_blank'>
          <NewProjects
            title={n.title}
            description={n.description}
            image={n.image}
          />
        </a>
      ))
    }
  </div>
</div>
