---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<div class='flex flex-col w-full h-screen max-w-[1050px] p-8 m-auto'>
  <Navbar />
  <slot />
  <Footer />
</div>
